{% load i18n wagtailcore_tags static %}
<!-- Post Author Bio Box Start -->
<div class="about-author margin-top-70 margin-bottom-50">

    <div class="picture">
        <img src="{% static 'images/blog/author.png' %}" class="img-responsive" alt="">
    </div>

    <div class="c-padding">
        <h3>Article By
            <a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Visit Alex Website">Alex Parker</a>
        </h3>
        <p>You can use about author box when someone guest post on your blog, Lorem ipsum consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna ad minim veniam.</p>
    </div>
</div>
<!-- Post Author Bio Box End -->