<!-- Post Blockquote (Italic Style) Start -->
<blockquote class="margin-top-40 margin-bottom-40">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci commodo hendrerit vitae nec eros. Vestibulum
        neque est, imperdiet nec tortor nec, tempor semper metus. Cras vel tempus velit,
        <b>et accumsan nisi</b>. Duis laoreet pretium ultricies. Curabitur rhoncus auctor nunc congue sodale Sed posuere nisi
        ipsum.
    </p>
</blockquote>
<!-- Post Blockquote (Italic Style) End -->

<!-- Post Blockquote Start -->
<!-- <div class="post-quote margin-top-40 margin-bottom-40">
            <blockquote>Design is not just what is look like, Design is how it's work.</blockquote>
          </div> -->
<!-- Post Blockquote End -->