{% load i18n wagtailcore_tags static %}
<!-- Post Image Gallery Start -->
<div class="row margin-top-40 margin-bottom-40">

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="{% static 'images/blog/7.jpg' %}" class="image-popup" title="image Title">
            <img src="{% static 'images/blog/7.jpg' %}" class="img-responsive" alt="">
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="{% static 'images/blog/5.jpg' %}" class="image-popup" title="image Title">
            <img src="{% static 'images/blog/5.jpg' %}" class="img-responsive" alt="">
        </a>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <a href="{% static 'images/blog/6.jpg' %}" class="image-popup" title="image Title">
            <img src="{% static 'images/blog/6.jpg' %}" class="img-responsive" alt="">
        </a>
    </div>

</div>
<!-- Post Image Gallery End -->